In [1]:
import pandas as pd

In [5]:
df=pd.read_csv("d:/spyderpractice/weather.csv")
df.head()

,Id,Country_Region,Province_State,Date,ConfirmedCases,Fatalities,country+province,Lat,Long,day_from_jan_first,...,min,max,stp,slp,dewp,rh,ah,wdsp,prcp,fog
0,1,Afghanistan,NaN,2020-01-22,0.0,0.0,Afghanistan-,33.0,65.0,22,...,33.6,54.9,999.9,1024.3,27.4,0.545709,0.186448,9.4,0.00,0
1,2,Afghanistan,NaN,2020-01-23,0.0,0.0,Afghanistan-,33.0,65.0,23,...,32.7,55.9,999.9,1020.8,22.8,0.461259,0.163225,14.9,99.99,1
2,3,Afghanistan,NaN,2020-01-24,0.0,0.0,Afghanistan-,33.0,65.0,24,...,36.9,43.2,999.9,1018.6,34.5,0.801794,0.325375,10.4,0.17,1
3,4,Afghanistan,NaN,2020-01-25,0.0,0.0,Afghanistan-,33.0,65.0,25,...,37.9,56.3,999.9,1018.0,37.8,0.728175,0.214562,6.1,0.57,1
4,5,Afghanistan,NaN,2020-01-26,0.0,0.0,Afghanistan-,33.0,65.0,26,...,36.1,53.1,999.9,1014.8,33.2,0.685513,0.231656,10.8,0.00,1

In [3]:
df['min'].max()

89.6

In [4]:
df['max'].max()

113.2

In [6]:
df.describe()

,Id,ConfirmedCases,Fatalities,Lat,Long,day_from_jan_first,temp,min,max,stp,slp,dewp,rh,ah,wdsp,prcp,fog
count,24414.00000,24414.000000,24414.000000,24414.000000,24414.000000,24414.000000,24414.000000,24299.000000,24388.000000,24414.000000,14309.000000,23786.000000,23786.000000,2.378600e+04,24414.000000,24414.000000,24414.000000
mean,17823.50000,835.249447,39.778201,24.359897,4.101068,60.500000,57.584509,48.455665,66.997486,716.109675,1016.177602,44.687060,0.657925,inf,24.438470,7.806476,0.328787
std,10300.68915,6554.109673,494.078524,23.619643,78.593946,22.515271,22.115746,22.744141,21.984603,422.561151,8.160573,22.281636,0.192454,NaN,131.914699,26.713265,0.469782
min,1.00000,0.000000,0.000000,-51.694444,-157.498300,22.000000,-33.600000,-45.400000,-20.200000,0.000000,968.900000,-40.200000,0.035440,-2.374315e+01,0.000000,0.000000,0.000000
25%,8912.25000,0.000000,0.000000,12.134722,-70.035800,41.000000,40.800000,32.000000,50.000000,24.400000,1010.900000,28.600000,0.559444,1.240723e-01,3.700000,0.000000,0.000000
50%,17823.50000,0.000000,0.000000,30.617100,9.550000,60.500000,59.000000,49.300000,69.800000,979.700000,1015.500000,44.000000,0.696205,1.918538e-01,5.800000,0.000000,0.000000
75%,26734.75000,75.000000,0.000000,41.902900,55.247100,80.000000,78.400000,69.800000,86.000000,999.900000,1021.000000,66.300000,0.792770,2.291856e-01,8.800000,0.020000,1.000000
max,35646.00000,151061.000000,17669.000000,64.963100,178.450000,99.000000,100.200000,89.600000,113.200000,999.900000,1051.700000,81.200000,1.000000,inf,999.900000,99.990000,1.000000

In [7]:
df.shape

(24414, 21)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24414 entries, 0 to 24413
Data columns (total 21 columns):
Id                    24414 non-null int64
Country_Region        24414 non-null object
Province_State        10374 non-null object
Date                  24414 non-null object
ConfirmedCases        24414 non-null float64
Fatalities            24414 non-null float64
country+province      24414 non-null object
Lat                   24414 non-null float64
Long                  24414 non-null float64
day_from_jan_first    24414 non-null int64
temp                  24414 non-null float64
min                   24299 non-null float64
max                   24388 non-null float64
stp                   24414 non-null float64
slp                   14309 non-null float64
dewp                  23786 non-null float64
rh                    23786 non-null float64
ah                    23786 non-null float64
wdsp                  24414 non-null float64
prcp                  24414 non-null float64
fog                   24414 non-null int64
dtypes: float64(14), int64(3), object(4)
memory usage: 3.9+ MB

In [10]:
df['Date'][df['Lat']==33]

0        2020-01-22
1        2020-01-23
2        2020-01-24
3        2020-01-25
4        2020-01-26
            ...
11227    2020-04-04
11228    2020-04-05
11229    2020-04-06
11230    2020-04-07
11231    2020-04-08
Name: Date, Length: 156, dtype: object

In [11]:
df['Lat'].mean()

24.359897376998582

In [12]:
df.isnull().sum()

Id                        0
Country_Region            0
Province_State        14040
Date                      0
ConfirmedCases            0
Fatalities                0
country+province          0
Lat                       0
Long                      0
day_from_jan_first        0
temp                      0
min                     115
max                      26
stp                       0
slp                   10105
dewp                    628
rh                      628
ah                      628
wdsp                      0
prcp                      0
fog                       0
dtype: int64

In [20]:
df2=df.dropna(axis=0,inplace=True)

In [22]:
df.isnull().sum()

Id                    0
Country_Region        0
Province_State        0
Date                  0
ConfirmedCases        0
Fatalities            0
country+province      0
Lat                   0
Long                  0
day_from_jan_first    0
temp                  0
min                   0
max                   0
stp                   0
slp                   0
dewp                  0
rh                    0
ah                    0
wdsp                  0
prcp                  0
fog                   0
dtype: int64

In [23]:
df.shape

(6812, 21)

In [24]:
rows,columns=df.shape

In [25]:
rows

6812

In [26]:
columns

21

In [27]:
df.tail(5)

,Id,Country_Region,Province_State,Date,ConfirmedCases,Fatalities,country+province,Lat,Long,day_from_jan_first,...,min,max,stp,slp,dewp,rh,ah,wdsp,prcp,fog
23626,34499,United Kingdom,Montserrat,2020-04-01,5.0,0.0,United Kingdom-Montserrat,16.742500,-62.187400,92,...,69.1,83.1,11.2,1013.5,66.2,0.688508,0.191095,5.6,99.99,1
23627,34500,United Kingdom,Montserrat,2020-04-02,5.0,0.0,United Kingdom-Montserrat,16.742500,-62.187400,93,...,69.1,86.7,12.3,1014.7,65.3,0.640894,0.180361,4.5,0.00,0
23628,34501,United Kingdom,Montserrat,2020-04-03,6.0,0.0,United Kingdom-Montserrat,16.742500,-62.187400,94,...,70.7,86.7,11.5,1013.9,68.9,0.714601,0.202297,4.0,0.00,1
23629,34502,United Kingdom,Montserrat,2020-04-04,6.0,0.0,United Kingdom-Montserrat,16.742500,-62.187400,95,...,70.9,86.5,10.6,1013.0,70.3,0.762580,0.214606,3.2,0.00,0
23711,34620,United Kingdom,Turks and Caicos Islands,2020-04-08,8.0,1.0,United Kingdom-Turks and Caicos Islands,21.783333,-72.283333,99,...,73.9,79.0,13.2,1015.2,71.9,0.861407,0.236953,4.2,0.00,0

In [28]:
df[2:5]

,Id,Country_Region,Province_State,Date,ConfirmedCases,Fatalities,country+province,Lat,Long,day_from_jan_first,...,min,max,stp,slp,dewp,rh,ah,wdsp,prcp,fog
626,915,Australia,Australian Capital Territory,2020-01-24,0.0,0.0,Australia-Australian Capital Territory,-35.4735,149.0124,24,...,56.8,81.7,945.2,1010.9,49.7,0.454962,0.119475,5.3,0.0,0
627,916,Australia,Australian Capital Territory,2020-01-25,0.0,0.0,Australia-Australian Capital Territory,-35.4735,149.0124,25,...,60.3,90.0,944.9,1010.5,53.1,0.422837,0.118030,4.5,0.0,0
628,917,Australia,Australian Capital Territory,2020-01-26,0.0,0.0,Australia-Australian Capital Territory,-35.4735,149.0124,26,...,59.4,91.8,946.4,1012.1,51.5,0.413475,0.113989,6.1,0.0,0

In [29]:
df.columns

Index(['Id', 'Country_Region', 'Province_State', 'Date', 'ConfirmedCases',
       'Fatalities', 'country+province', 'Lat', 'Long', 'day_from_jan_first',
       'temp', 'min', 'max', 'stp', 'slp', 'dewp', 'rh', 'ah', 'wdsp', 'prcp',
       'fog'],
      dtype='object')

In [30]:
df.Country_Region

624           Australia
625           Australia
626           Australia
627           Australia
628           Australia
              ...
23626    United Kingdom
23627    United Kingdom
23628    United Kingdom
23629    United Kingdom
23711    United Kingdom
Name: Country_Region, Length: 6812, dtype: object

# max,min,mean,std(functions)

In [31]:
df[df.temp==df.temp.max()]

,Id,Country_Region,Province_State,Date,ConfirmedCases,Fatalities,country+province,Lat,Long,day_from_jan_first,...,min,max,stp,slp,dewp,rh,ah,wdsp,prcp,fog
944,1377,Australia,South Australia,2020-01-30,0.0,0.0,Australia-South Australia,-34.9285,138.6007,30,...,70.2,109.6,999.3,1005.2,43.5,0.156218,0.057416,4.2,0.0,0

In [33]:
df[['Date','temp']][df.temp==df.temp.max()]

           Date  temp
944  2020-01-30  97.3

In [38]:
df.set_index('Id',inplace=True)

In [39]:
df

,Country_Region,Province_State,Date,ConfirmedCases,Fatalities,country+province,Lat,Long,day_from_jan_first,temp,min,max,stp,slp,dewp,rh,ah,wdsp,prcp,fog
Id,,,,,,,,,,,,,,,,,,,,
913,Australia,Australian Capital Territory,2020-01-22,0.0,0.0,Australia-Australian Capital Territory,-35.473500,149.012400,22,77.7,54.0,91.0,937.2,1002.3,42.5,0.282482,0.078943,6.5,0.00,0
914,Australia,Australian Capital Territory,2020-01-23,0.0,0.0,Australia-Australian Capital Territory,-35.473500,149.012400,23,68.6,57.0,90.0,938.5,1003.7,56.0,0.638922,0.163565,7.3,0.25,1
915,Australia,Australian Capital Territory,2020-01-24,0.0,0.0,Australia-Australian Capital Territory,-35.473500,149.012400,24,71.7,56.8,81.7,945.2,1010.9,49.7,0.454962,0.119475,5.3,0.00,0
916,Australia,Australian Capital Territory,2020-01-25,0.0,0.0,Australia-Australian Capital Territory,-35.473500,149.012400,25,77.6,60.3,90.0,944.9,1010.5,53.1,0.422837,0.118030,4.5,0.00,0
917,Australia,Australian Capital Territory,2020-01-26,0.0,0.0,Australia-Australian Capital Territory,-35.473500,149.012400,26,76.5,59.4,91.8,946.4,1012.1,51.5,0.413475,0.113989,6.1,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34499,United Kingdom,Montserrat,2020-04-01,5.0,0.0,United Kingdom-Montserrat,16.742500,-62.187400,92,77.1,69.1,83.1,11.2,1013.5,66.2,0.688508,0.191095,5.6,99.99,1
34500,United Kingdom,Montserrat,2020-04-02,5.0,0.0,United Kingdom-Montserrat,16.742500,-62.187400,93,78.3,69.1,86.7,12.3,1014.7,65.3,0.640894,0.180361,4.5,0.00,0
34501,United Kingdom,Montserrat,2020-04-03,6.0,0.0,United Kingdom-Montserrat,16.742500,-62.187400,94,78.8,70.7,86.7,11.5,1013.9,68.9,0.714601,0.202297,4.0,0.00,1
34502,United Kingdom,Montserrat,2020-04-04,6.0,0.0,United Kingdom-Montserrat,16.742500,-62.187400,95,78.3,70.9,86.5,10.6,1013.0,70.3,0.762580,0.214606,3.2,0.00,0
34620,United Kingdom,Turks and Caicos Islands,2020-04-08,8.0,1.0,United Kingdom-Turks and Caicos Islands,21.783333,-72.283333,99,76.3,73.9,79.0,13.2,1015.2,71.9,0.861407,0.236953,4.2,0.00,0

In [40]:
df.reset_index(inplace=True)

In [41]:
df

,Id,Country_Region,Province_State,Date,ConfirmedCases,Fatalities,country+province,Lat,Long,day_from_jan_first,...,min,max,stp,slp,dewp,rh,ah,wdsp,prcp,fog
0,913,Australia,Australian Capital Territory,2020-01-22,0.0,0.0,Australia-Australian Capital Territory,-35.473500,149.012400,22,...,54.0,91.0,937.2,1002.3,42.5,0.282482,0.078943,6.5,0.00,0
1,914,Australia,Australian Capital Territory,2020-01-23,0.0,0.0,Australia-Australian Capital Territory,-35.473500,149.012400,23,...,57.0,90.0,938.5,1003.7,56.0,0.638922,0.163565,7.3,0.25,1
2,915,Australia,Australian Capital Territory,2020-01-24,0.0,0.0,Australia-Australian Capital Territory,-35.473500,149.012400,24,...,56.8,81.7,945.2,1010.9,49.7,0.454962,0.119475,5.3,0.00,0
3,916,Australia,Australian Capital Territory,2020-01-25,0.0,0.0,Australia-Australian Capital Territory,-35.473500,149.012400,25,...,60.3,90.0,944.9,1010.5,53.1,0.422837,0.118030,4.5,0.00,0
4,917,Australia,Australian Capital Territory,2020-01-26,0.0,0.0,Australia-Australian Capital Territory,-35.473500,149.012400,26,...,59.4,91.8,946.4,1012.1,51.5,0.413475,0.113989,6.1,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6807,34499,United Kingdom,Montserrat,2020-04-01,5.0,0.0,United Kingdom-Montserrat,16.742500,-62.187400,92,...,69.1,83.1,11.2,1013.5,66.2,0.688508,0.191095,5.6,99.99,1
6808,34500,United Kingdom,Montserrat,2020-04-02,5.0,0.0,United Kingdom-Montserrat,16.742500,-62.187400,93,...,69.1,86.7,12.3,1014.7,65.3,0.640894,0.180361,4.5,0.00,0
6809,34501,United Kingdom,Montserrat,2020-04-03,6.0,0.0,United Kingdom-Montserrat,16.742500,-62.187400,94,...,70.7,86.7,11.5,1013.9,68.9,0.714601,0.202297,4.0,0.00,1
6810,34502,United Kingdom,Montserrat,2020-04-04,6.0,0.0,United Kingdom-Montserrat,16.742500,-62.187400,95,...,70.9,86.5,10.6,1013.0,70.3,0.762580,0.214606,3.2,0.00,0
6811,34620,United Kingdom,Turks and Caicos Islands,2020-04-08,8.0,1.0,United Kingdom-Turks and Caicos Islands,21.783333,-72.283333,99,...,73.9,79.0,13.2,1015.2,71.9,0.861407,0.236953,4.2,0.00,0